<div>
    <h1>FAQ list</h1>
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="faqService.faqs.length > 0"
            >
                <tr 
                    *ngFor="let faq of faqService.faqs"
                >
                    <td>{{faq.question}}</td>
                    <td>{{faq.answer}}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="faqService.faqs.length === 0"
            >
                <td
                    colspan="3"
                >   No FAQs
                </td>
            </tr>
            
        </tbody>
    </table>
</div>