.example-form {
    background-color: rgb(121, 115, 250);
    padding: 0px;
    width: 100%;
    align-content: center;
    text-align: center;
  }
 
  /* margin: 10px; */

.new-button {
  background-color: rgb(121, 115, 250);
}

mat-icon {
  align-content: center;
  text-align: center;
}

mat-nav-list {
  text-align: center; 
    align-items: center;
}

/* div {
  align-content: center;
    text-align: center;
} */

/* a.selected {
  background-color: peru;
} */
h3 {
    text-align: center; 
    vertical-align: middle;
    display: flex;
    align-items: center;
}

/* ::ng-deep .mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
} */


.example-form2 {
  background-color: rgb(121, 115, 250);
  padding: 0px;
  margin-top: 10px;
  width: 100%;
  vertical-align: middle;  
}
/* .nf {
    display: flex;
    align-items: center;
} */

.mat-icon {
  vertical-align: middle;
  text-align: middle;
  display:flex;             
  align-self:center;
}

.flexExpand {
  flex: 0.5 1 auto;
}
  

  :host /deep/ .mat-list-item-content {
    padding: 0!important;
    border: solid 0.1px #000;
    align-content: center;
    text-align: center;
  } 

  /* .mnl {
    padding: 0px;
    margin: 0px;
  }


  :host /deep/ .mat-list{
    padding: 0!important;
    align-content: center;
    justify-content: flex-end;
  }
  
  :host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: right;
  } */
/* RIGHT align */
/* .mat-list .mat-list-item.right .mat-list-item-content{
  justify-content: flex-end;
} */

  