<!-- <div> -->
<h1>Faq list</h1>

<mat-list class="mnl">
    <div class="example-form">
        <a *ngFor="let faq of faqs" mat-list-item
            (click)="selectedFaq = faq"
            [class.selected]="faq === selectedFaq"
            [routerLink]="['/faq', faq.faqId]"
        >
            <h3 matLine>{{ faq.question }}</h3>
            <!-- <small matLine> -->
            <small matLine>
                {{ faq.answer}}
            </small>

            <!-- <p matLine>{{ faq.faqId }}</p> -->
        </a>
    </div>
</mat-list>

<!-- <div>
    <h1>FAQ list</h1>
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="faqService.faqs.length > 0"
            >
                <tr 
                    *ngFor="let faq of faqService.faqs"
                >
                    <td>{{faq.question}}</td>
                    <td>{{faq.answer}}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="faqService.faqs.length === 0"
            >
                <td
                    colspan="3"
                >   No FAQs
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
 -->
