<h1>Frequently Asked Questions</h1>

<mat-nav-list class="example-form" >
    <div  *ngIf="authService.isLoggedIn && (authService.isAdmin() || authService.isNurse())">
        <a 
            *ngFor="let faq of faqs" 
            style="text-decoration:none"
            mat-list-item
            
            (click)="selectedFaq = faq"
            [class.selected]="faq === selectedFaq"
            [routerLink]="['/faq', faq.faqId]"
            >
            <h3 matLine>{{ faq.question }}</h3>
            <small matLine>
                {{ faq.answer}}
            </small>
        </a>
    </div>    
</mat-nav-list>

<mat-nav-list 
    class="example-form2" 
    *ngIf="authService.isLoggedIn && (authService.isAdmin() || authService.isNurse())"
>
     
    <div>
                  
        <a 
            mat-list-item
            [routerLink]="['/faq', 'add']"
        >
        <span class="flexExpand"></span>
            <mat-icon style="color: rgb(0, 0, 0)">control_point</mat-icon>        
            
            <!-- <h3 matLine>New FAQ</h3> -->
        </a>
    </div>
</mat-nav-list>

<mat-list *ngIf="!authService.isLoggedIn"> 
        <a class="example-form" *ngFor="let faq of faqs" mat-list-item
        >
            <h3 matLine>{{ faq.question }}</h3>
            <p matLine>
                {{ faq.answer}}
            </p>
        </a>
</mat-list>

<mat-list class="example-form" *ngFor="let faq of faqs">
    <a  *ngIf="authService.isLoggedIn && authService.isDonor()" mat-list-item
    >
        <h3 matLine>{{ faq.question }}</h3>
        <p matLine>
            {{ faq.answer}}
        </p>
    </a>    
</mat-list>



<!-- <button mat-flat-button color="primary"
            type="submit"
            [disabled]="faqForm.invalid"
        >Save</button> -->


