<form [formGroup]="faqForm" (ngSubmit)="onSubmit()">
    <div>    
       <h1>{{title}}</h1>
    </div>

    <mat-form-field>
        <input matInput formControlName="question" required>
        <mat-placeholder class='placeholder'> Question </mat-placeholder>
        <mat-error *ngIf="question.invalid  && (question.dirty || question.touched) && question.errors.required">Question is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="answer" required>
        <mat-placeholder class='placeholder'> Answer </mat-placeholder>
        <mat-error *ngIf="answer.invalid  && (answer.dirty || answer.touched) && answer.errors.required">Answer is required</mat-error>
    </mat-form-field>
           

    <button 
        *ngIf="wantToEdit"
        mat-flat-button color="wipe"
        type="button"
        (click)="delButton()"
        [routerLink]="['/faq', faq.faqId, 'del']"
    >Delete FAQ</button>

    <button 
        mat-flat-button
        color="primary"      
        type=submit      
        [disabled]="faqForm.invalid"
    >Save</button>
        
  </form>

