<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
  #drawer class="sidenav"
   fixedInViewport="false"
   
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/faq">faq</a>
      <a mat-list-item routerLink="/donor">donor</a>
      <a mat-list-item href="#">Contact</a>
      <button
        mat-button
        routerLink="/faq"
    >
        My issues
    </button>
    <button
        mat-button
        routerLink="/donor"
    >
        New issues
    </button>
     

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BloodStream</span>
      <!-- <span class="spacer"></span>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a> -->


    </mat-toolbar>


    <!-- <app-faq-list class="cont"></app-faq-list>
    <app-donor-list class="cont"></app-donor-list> -->
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
  
  

</mat-sidenav-container>
