<h1>Frequently Asked Questions</h1>

<mat-nav-list class="example-form" >
    <div  *ngIf="authService.isLoggedIn && (authService.isAdmin() || authService.isNurse())">
        <a 
            *ngFor="let faq of faqs" 
            style="text-decoration:none"
            mat-list-item
            
            (click)="selectedFaq = faq"
            [class.selected]="faq === selectedFaq"
            [routerLink]="['/faq', faq.faqId]"
            >
            <h3 matLine>{{ faq.question }}</h3>
            <small matLine>
                {{ faq.answer}}
            </small>
        </a>
    </div>    
</mat-nav-list>

<button 
    *ngIf="authService.isLoggedIn && !authService.isDonor()"
    mat-flat-button color="primary"
    [routerLink]="['/faq', 'add']"
> New faq </button>


<mat-list *ngIf="!authService.isLoggedIn"> 
        <a class="example-form" *ngFor="let faq of faqs" mat-list-item
        >
            <h3 matLine>{{ faq.question }}</h3>
            <p matLine>
                {{ faq.answer}}
            </p>
        </a>
</mat-list>

<mat-list class="example-form" *ngFor="let faq of faqs">
    <a mat-list-item *ngIf="authService.isLoggedIn && authService.isDonor()">
        <h3 matLine>{{ faq.question }}</h3>
        <p matLine> {{ faq.answer}} </p>
    </a>    
</mat-list>


