<div *ngIf="authService.isDonor()">
    <ng-container *ngIf="nextApp">
        <h1> You have an existing application</h1>
            <button mat-raised-button color="primary" [routerLink]="['/donation']">
                Go to donations
            </button>   
    </ng-container>
    <ng-container *ngIf="!ready() && !nextApp">
        <h2> You have reached the yearly donation limit or your 56 days rest time does not run out: </h2>
        <h2 matLine>
            You will be able to donate after: {{ authService.user.nextDonationDate | date: 'y/MM/dd'}}
        </h2>
    </ng-container>
</div>
<ng-container *ngIf="places && allPlaces.length !== 0 && !nextApp">
    <div class="example-form" *ngIf="!chooseApplication">
        <form [formGroup]="cityForm" (ngSubmit)="search()">
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="City" (keyup)="onKey()">
            </mat-form-field>
            <button mat-flat-button color="primary" type="button" (click)="onKey()">
                Search
            </button>
        </form>
    </div>

    <div class="example-form2" *ngIf="chooseApplication && !nextApp">
        <form [formGroup]="cityForm" (ngSubmit)="search()" >
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="City" (keyup)="onKey()">
            </mat-form-field>
            <button mat-flat-button color="primary" type="button" (click)="onKey()">
                Search
            </button>        
        </form>
    </div>
</ng-container>


<mat-nav-list *ngIf="places && showPlaces()">
    <h1>{{title}}</h1>    
 
    <div class="example-form2" *ngIf="chooseApplication && authService.isDonor()">     
        <ng-container *ngFor="let place of places">
            <a mat-list-item
                (click)="selectedPlace = place"
                [class.selected]="place === selectedPlace"
                [routerLink]="['/application', 'new', 'place', place.id]"
            >               <!-- /application/new/place/:id -->   
                <h3 matLine>{{ place.name}}</h3>
                <!-- <small matLine> -->
                <small>
                    <mat-icon>location_on</mat-icon> {{ place.city }}
                </small>

                <p matLine>{{ place.address}}</p>
            </a>
        </ng-container>
    </div>


    <div class="example-form2" *ngIf="chooseApplication && !authService.isDonor()">
        
        <a *ngFor="let place of places" mat-list-item
            (click)="selectedPlace = place"
            [class.selected]="place === selectedPlace"
            [routerLink]="['place', place.id]"
        >       <!-- /application/place/:id -->               
            <h3 matLine>{{ place.name}}</h3>
            
            <small>
                <mat-icon>location_on</mat-icon> {{ place.city }}
            </small>

            <p matLine>{{ place.address}}</p>
        </a>
    </div>

    
    <div class="example-form" *ngIf="!chooseApplication && !authService.isDonor()">
        
        <a *ngFor="let place of places" mat-list-item
            (click)="selectedPlace = place"
            [class.selected]="place === selectedPlace"
            [routerLink]="['./', place.id]"
        >         <!-- /place/:id -->   
            <mat-icon *ngIf="!place.active" matListIcon style="color: grey">toggle_off</mat-icon>
            <mat-icon *ngIf="place.active" matListIcon style="color: green">toggle_on</mat-icon>
              
            <h3 matLine>{{ place.name}}</h3>
            <!-- <small matLine> -->
            <small>
                <mat-icon>location_on</mat-icon> {{ place.city }}
            </small>

            <p matLine>{{ place.address}}</p>
        </a>
    </div>
</mat-nav-list>





<button 
    *ngIf="!chooseApplication && !authService.isDonor()"
    mat-flat-button color="primary"
    [routerLink]="['./', 'add']" 
>Add place</button>