<div *ngIf="authService.isDonor()">
    <ng-container *ngIf="nextApp">
        <h1> You have an existing application</h1>
            <button mat-raised-button color="primary" [routerLink]="['/donation']">
                Go to donations
            </button>   
    </ng-container>
    <ng-container *ngIf="!ready() && !nextApp">
        <h2> Sorry, you have to wait 56 days after your last donation: </h2>
        <h2 matLine>
            You will be able to donate after: {{ authService.user.nextDonationDate | date: 'y/MM/dd'}}
        </h2>
    </ng-container>
</div>

<div class="example-form" *ngIf="places && showPlaces()">
    <form [formGroup]="cityForm" (ngSubmit)="search()">
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="City" value="">
        </mat-form-field>
        <button mat-flat-button color="primary" type="button" (click)="search()">
            Search
        </button>
        
    </form>
    <!-- {{cityForm.value | json}} -->
</div>

<mat-nav-list *ngIf="places && showPlaces()">
    <h1>{{title}}</h1>

    

    <div class="example-form" *ngIf="authService.isDonor()">        
        <ng-container *ngFor="let place of places">
            <a mat-list-item
                (click)="selectedPlace = place"
                [class.selected]="place === selectedPlace"
                [routerLink]="['/application', 'place', place.id]"
            >               
                <h3 matLine>{{ place.name}}</h3>
                <!-- <small matLine> -->
                <small>
                    <mat-icon>location_on</mat-icon> {{ place.city }}
                </small>

                <p matLine>{{ place.address}}</p>
            </a>
        </ng-container>
    </div>

    <div class="example-form" *ngIf="!authService.isDonor()">
        
        <a *ngFor="let place of places" mat-list-item
            (click)="selectedPlace = place"
            [class.selected]="place === selectedPlace"
            [routerLink]="['/place', place.id]"
        >         
            <mat-icon *ngIf="!place.active" matListIcon style="color: grey">toggle_off</mat-icon>
            <mat-icon *ngIf="place.active" matListIcon style="color: green">toggle_on</mat-icon>
              
            <h3 matLine>{{ place.name}}</h3>
            <!-- <small matLine> -->
            <small>
                <mat-icon>location_on</mat-icon> {{ place.city }}
            </small>

            <p matLine>{{ place.address}}</p>
        </a>
    </div>
</mat-nav-list>




    <!-- <small matLine> -->
    <!-- <div>
        <a *ngFor="let place of places" mat-list-item
          (click)="selectedPlace = place"
          [class.selected]="place === selectedPlace"
        >        
            <mat-icon *ngIf="place.isActive === true" matListIcon style="color: orange">check_circle</mat-icon>
            <h3 matLine>{{ place.name }}</h3>
            <small>
                <mat-icon>verified_user</mat-icon> {{ place.address}}
                <mat-icon>access_time</mat-icon> {{ place.city }}
            </small>

            <p matLine>{{ place.openingTime.openingTime}}</p>
        </a>        
    </div> -->

<button 
    *ngIf="!authService.isDonor()"
    mat-flat-button color="primary"
    [routerLink]="['/place', 'add']"
>Add place</button>