<h1>News</h1>
<h2 *ngIf="news.length === 0">You have no news</h2>

<mat-list class="example-form">
    <div *ngIf="authService.isDonor()">
        <ng-container *ngFor="let new of news">
            <a  *ngIf="isPublished(new.publishDate)" mat-list-item
            >
            <!-- ng-if="(Date | date:'dd/MM/yyyy') == 
                (question.DateTimeEnd | date:'dd/MM/yyyy')" -->
                <!-- <div *ngIf="(todaysdate | date:'yMMdd' == duedate | date:'yMMdd')">
                    List
                </div> -->
                
                <h3 matLine>{{ new.title }}</h3>
                <!-- <small matLine> -->
                <small>
                    <mat-icon>access_time</mat-icon> {{ new.publishDate | date: 'y/MM/dd'}}
                </small>

                <p matLine>{{ new.text}}</p>
            </a>
        </ng-container>
    </div>
</mat-list>
<mat-nav-list class="example-form">
    <div  *ngIf="!authService.isDonor()">
        <a *ngFor="let new of news" mat-list-item          
            (click)="selectedNews = new"
            [class.selected]="new === selectedNews"
            [routerLink]="['/news', new.newsId]"
        >        
            <mat-icon *ngIf="!isPublished(new.publishDate)" matListIcon style="color: grey">unpublished</mat-icon>
            <mat-icon *ngIf="isPublished(new.publishDate)" matListIcon style="color: green">check</mat-icon>
            <h3 matLine>{{ new.title }}</h3>
            <!-- <small matLine> -->
            <small>
                <mat-icon>access_time</mat-icon> {{ new.publishDate | date: 'y/MM/dd'}}
            </small>

            <p matLine>{{ new.text}}</p>
        </a>
    </div>
    
</mat-nav-list>

<button 
    *ngIf="!authService.isDonor()"
    mat-flat-button color="primary"
    [routerLink]="['/news', 'add']"
>Add news</button>