dl{
    display: block;
    text-align: left;
}
dt {
    font-weight: bold;
}

.td {
    font-weight: bold;
}
h1 {
    margin:15px;
}

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #de8430;
    color: white;
  }

form {
    padding: 12px;
    background-color: #de8430;
}
mat-form-field {
    width: 100%;
}

button {
    margin: 15px;
  }

  .green {
    background-color: green;
}

.red {
    background-color: red;
}



  