.example-form {
    background-color: rgb(255, 0, 0);
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    align-content: center;
    text-align: center;
  }

  :host /deep/ .mat-list-item-content {
    padding: 0!important;
    border: solid 0.1px #000;
    align-content: center;
    text-align: center;
  }

dl{
    display: block;
    text-align: left;
}
dt {
    font-weight: bold;
  }

  .td {
      font-weight: bold;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4b5e4b;
    color: white;
  }
  
  button {
    margin-top: 30px;
    margin-inline-end: 20px;
}

small {
    margin: 5px;
}

h1 {
    margin:15px;
}
/* h1{
    padding-top: 30px;
    text-align: left;
    text-decoration: underline;
    font-weight: 500;
    
} */
  h2, h3 {
    margin-top: 20px;
}

.but {
    margin: 10px;
}

.next {
    background-color: rgb(137, 137, 137);
    padding: 0px;
    width: 100%;
    align-content: center;
    text-align: center;
}

.gap {
    padding: 0px;
    margin-top: 30px;
}