/* form {
    padding: 12px;
} */

form {
  padding: 12px;
  background-color: rgb(104, 188, 127);
}
mat-form-field {
  width: 100%;
}
/* mat-form-field {
    width: 100%;
    color: black;
    margin-top: 10px;
  }
  /* padding-left: 40px; */
  /* padding-right: 40px; */

/* .example-form {
    width: 100%; 
    background-color: rgb(183, 183, 183);
    padding-bottom: 10px;
    padding-top: 10px;
  }  */
  /* padding-right: 20px; */
  /* margin-right: 30px; */
  /* margin: 10px; */



   /* ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
  }

  ::ng-deep .mat-form-field-placeholder{

    color:red;
  }  */
  /* When the input is not focused */
/* md-input-container label {
    color: red;
  } */
  
  /* When the input is focused */
  /* md-input-container.md-input-focused label {
    color: blue;
  } */

  /* .mat-focused .placeholder {
    color: #00D318;
}
  
input:disabled {
    color: black;
  }
  
  select:disabled {
    color: black;
  }
  
   
  .mat-select-disabled .mat-select-value {
    color: black;
  } 

  */