/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    /*text-align: center; */
    justify-content: center;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    align-content: center;
    padding: .5rem 1rem;
    color: black;
    justify-content: center;
    
    background-color: rgb(255, 204, 204);
    margin: 0;
    
    
}

/* .mat-toolbar.mat-primary {
    background: #007bff;
    color: #fff;
  } */
