<h1>Donor list</h1>

<div>
    <app-bloodtype-filter 
        [bloodType]="selectedBloodType"
        (change)="onFilterChange($event)"
    ></app-bloodtype-filter>
</div>

<mat-nav-list >
    <div class="example-form">
        <a *ngFor="let donor of filteredDonors" mat-list-item
          (click)="selectedDonor = donor"
          [class.selected]="donor === selectedDonor"
          [routerLink]="['/donor', 'profile', donor.id]"
        >
            <mat-icon *ngIf="donor.totalDonations === 0"   matListIcon style="color: red">fiber_new</mat-icon>
            <mat-icon *ngIf="nextDon(donor.nextDonationDate)"   matListIcon style="color: black">check_circle_outline</mat-icon>
            <mat-icon *ngIf="donor.bloodType === null"  matListIcon style="color: green">error</mat-icon>
            <h1 matLine>{{ donor.donorName }}</h1>
            <!-- <small matLine> -->
            <small>
                <mat-icon>verified_user</mat-icon> {{ donor.username }}
                <mat-icon>access_time</mat-icon> {{ donor.birthDate | date: 'y/MM/dd'}}
            </small>

            <p matLine>{{ donor.bloodType }}</p>
        </a>
        <h3 *ngIf="filteredDonors.length === 0"> No donor found for this blood type</h3>

        
    </div>
</mat-nav-list>



<button mat-raised-button
    *ngIf="authService.isAdmin()"
    type="button"
    color="accent"
    [routerLink]="['/admin']"
>   
    Manage Admins 
    <mat-icon  matListIcon style="color: orange">settings</mat-icon> 
</button>


    <!-- <table>
        <thead>
            <tr>
                <th>Név</th>
                <th>DonorID</th>
                <th>Adások száma</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="donorService.filteredDonors.length > 0"
            >
                <tr 
                    *ngFor="let donor of donorService.filteredDonors"
                >
                    <td>{{donor.donorName}}</td>
                    <td>{{donor.id}}</td>
                    <td>{{donor.totalDonations}}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="donorService.filteredDonors.length === 0"
            >
                <td
                    colspan="3"
                >   No Donor!!
                </td>
            </tr>
        </tbody>
    </table>
</div> -->