<form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
    <div>    
        <h1>{{titleOfPage}}</h1>
     </div>
               
    <mat-form-field>
        <input matInput formControlName="title" required>
        <mat-placeholder class='placeholder'> Title</mat-placeholder>
        <mat-error *ngIf="title.invalid  && (title.dirty || title.touched) && title.errors.required"
            >Title is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput formControlName="text" required></textarea>
        <mat-placeholder class='placeholder'> Text </mat-placeholder>
        <mat-error *ngIf="text.invalid  && (text.dirty || text.touched) && text.errors.required"
            >Text is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a publish date</mat-label>
        <input matInput [matDatepicker]="picker"
        formControlName="publishDate" [min]="minDate" [max]="maxDate" required
        ><mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>

    <button
        *ngIf="!wantToEdit"
        mat-flat-button color="wipe"
        type="button"
        [routerLink]="['/news']"
    >Cancel</button>

    <button
        *ngIf="wantToEdit"
        mat-flat-button color="wipe"
        type="button"
        (click)="delButton()"
        [routerLink]="['/news', news.newsId, 'del']"
    >Delete News</button>


    <button 
        mat-flat-button
        color="primary"      
        type="submit"  
        [disabled]="newsForm.invalid"
    >Save</button>
        
</form>

<!-- {{newsForm.value | json}} -->


 <!-- <mat-form-field>
		<mat-placeholder>Start DateTime</mat-placeholder>
		<input matInput formControlName="time" [matDatetimepicker]="dts" required autocomplete="false">
		<mat-datetimepicker-toggle [for]="dts" matSuffix></mat-datetimepicker-toggle>
		<mat-datetimepicker #dts type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
	</mat-form-field> -->
    <!-- <mat-form-field appearance="fill">
        <mat-label>TIMEPICKER</mat-label>
        <input matTimepicker formControlName="time">
      </mat-form-field> -->
