dl{
    display: block;
    text-align: left;
}
dt {
    font-weight: bold;
}

.td {
    font-weight: bold;
}
h1, h2, h3 {
    margin:15px;
}

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #46aab5;
    color: white;
  }

  .example-form {
    background-color: rgb(255, 0, 0);
    padding: 0px;
    /* margin: 10px; */
    width: 100%;
    align-content: center;
    text-align: center;
  }

  :host /deep/ .mat-list-item-content {
    padding: 0!important;
    border: solid 0.1px #000;
    align-content: center;
    text-align: center;
  }