<!-- <app-main-nav>
  
</app-main-nav> -->

<mat-toolbar color="wipe"  id="parent">
  <button
      mat-button
      routerLink="/"
  >
      <mat-icon>home</mat-icon>
      Home
  </button>
  

  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/faq">FAQ</button>
    <button mat-button routerLink="/donor">Donors</button>
    <button mat-button routerLink="/place">Places</button>
    <button mat-button routerLink="/news">News</button>
    <button mat-button routerLink="/message">Messages</button>
  </div> 
  
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Login</button>      
    <button mat-button routerLink="/registration">Registration</button>      
  </div>

  <span class="flexExpand"></span>
    
  <div *ngIf="authService.isLoggedIn">
    <small>{{ authService.user.donorName }}</small>
    <span class="flexExpand"></span>
    <button mat-button class="ert" (click)="logout()">Logout</button>      
  </div>

  <div *ngIf="!authService.isLoggedIn">
    <button mat-button class="ert" routerLink="/faq">FAQ</button>      
  </div>
   
    
</mat-toolbar>

<router-outlet></router-outlet>



  

