<h2 *ngIf="nextApp"> Your next donation:</h2>
<span class="titleSpan" *ngIf="!nextApp">
    <h2 *ngIf="letDonate()"> It looks like you have no following donation!</h2>    
    <button mat-flat-button *ngIf="letDonate()" color="primary" [routerLink]="['/place']"> Apply now!</button>
</span>

<span class="titleSpan" *ngIf="!nextApp">
    <h2 *ngIf="!letDonate()">  Your 56 days rest time did not run out or you have reached the yearly donation limit! </h2>
    <h2 matLine *ngIf="!letDonate()">
        You will be able to donate after: {{ authService.user.nextDonationDate | date: 'y/MM/dd'}}
    </h2>
</span>
<!-- <div *ngIf="authService.isDonor()">
    <ng-container *ngIf="nextApp">
        <h1> You have an existing application</h1>
            <button mat-raised-button color="primary" [routerLink]="['/donation']">
                Go to donations
            </button>   
    </ng-container>
    <ng-container *ngIf="!ready() && !nextApp">
        <h2> You have reached the yearly donation limit or your 56 days rest time does not run out: </h2>
        <h2 matLine>
            You will be able to donate after: {{ authService.user.nextDonationDate | date: 'y/MM/dd'}}
        </h2>
    </ng-container>
</div> -->


<mat-nav-list  *ngIf="nextApp">      
    <div class="example-form2">     
        <a
            mat-list-item
            [routerLink]="['../', 'application', nextApp.applyId]"
        >             
            <h3 matLine> {{nextApp.donor.donorName}}</h3>
            <!-- <small matLine> -->
            <small>
                
                <mat-icon>access_time</mat-icon> 
                {{ nextApp.appliedDate | date: 'y/MM/dd HH:mm'}}
            </small>

            <p matLine>{{ nextApp.place.name}}</p>
        </a>
    </div>
</mat-nav-list>

<mat-nav-list class="gap" *ngIf="pastApp.length !== 0">
    <h1>Your past donations</h1>
    <ng-container >    
        <h2> Pending to transport:</h2>    
        <div class="next" *ngFor="let application of pastApp" >            
            <a
                mat-list-item
                *ngIf="!application.donation.transportDate"
                style="text-decoration:none"
                (click)="selectedApplication = application"
                [class.selected]="application === selectedApplication"
                [routerLink]="['../', 'application', application.applyId]"
            >         
                <!-- <mat-icon *ngIf="!place.active" matListIcon style="color: grey">toggle_off</mat-icon> -->
                <!-- <mat-icon *ngIf="place.active" matListIcon style="color: green">toggle_on</mat-icon> -->
               
                <mat-icon matListIcon style="color: green">
                        pending</mat-icon>
                 <h3 matLine> {{application.donor.donorName}}</h3> 
                <!-- <small matLine> -->
                <small>
                    <mat-icon>access_time</mat-icon> 
                    
                    {{ application.appliedDate | date: 'y/MM/dd HH:mm'}}
                </small>

                <p matLine>{{ application.place.name}}</p>
            </a>
        </div>
    </ng-container>
<ng-container >
    <h2> Transported:</h2>   
        <div class="next" *ngFor="let application of pastApp">      
                   
            <a
                mat-list-item
                *ngIf="application.donation.transportDate"
                style="text-decoration:none"
                (click)="selectedApplication = application"
                [class.selected]="application === selectedApplication"
                [routerLink]="['../', 'application', application.applyId]"
            >         
                <mat-icon matListIcon style="color: blue">airport_shuttle</mat-icon> 
                <h3 matLine> {{application.donor.donorName}}</h3> 
                <!-- <small matLine> -->
                <small>
                    <mat-icon>access_time</mat-icon> 
                    
                    {{ application.appliedDate | date: 'y/MM/dd HH:mm'}}
                </small>

                <p matLine>{{ application.place.name}}</p>
            </a>
        </div>
    </ng-container>
</mat-nav-list>