<form [formGroup]="placeForm">
    <div>    
        <h1>{{titleOfPage}}</h1>
     </div>
     
               
    <mat-form-field>
        <input matInput formControlName="name" required>
        <mat-placeholder class='placeholder'> Name </mat-placeholder>
        <mat-error *ngIf="name.invalid  && (name.dirty || name.touched) && name.errors.required"
            >Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="city" required>
        <mat-placeholder class='placeholder'> City </mat-placeholder>
        <mat-error *ngIf="city.invalid  && (city.dirty || city.touched) && city.errors.required"
            >City is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="address" required>
        <mat-placeholder class='placeholder'> Address </mat-placeholder>
        <mat-error *ngIf="address.invalid  && (address.dirty || address.touched) && address.errors.required"
            >Address is required</mat-error>
        
    </mat-form-field>

    <div>
        <mat-slide-toggle color="primary" formControlName="active" >Set Active</mat-slide-toggle>        
    </div>
    
</form>  

<form [formGroup]="openingForm" (ngSubmit)="onSubmit()">
    <section class="example-section">
        <mat-checkbox formControlName="monday">Monday</mat-checkbox>
        <mat-checkbox formControlName="tuesday" >Tuesday</mat-checkbox>
        <mat-checkbox formControlName="wednesday" >WednesDay</mat-checkbox>
        <mat-checkbox formControlName="thursday">Thursday</mat-checkbox>
        <mat-checkbox formControlName="friday" >Friday</mat-checkbox>
        <mat-checkbox formControlName="saturday" >Saturday</mat-checkbox>
        <mat-checkbox formControlName="sunday">Sunday</mat-checkbox>
    </section>
    <section class="example-section">
        <span>
            Opening Time:
            <input type="time"  formControlName="startTime" >
        </span>
        <span>
            Closing Time: 
            <input type="time"  formControlName="closingTime" >
        </span>
        
    </section>
    
    <button
        mat-flat-button color="wipe"
        type="button"
        [routerLink]="['/place']"
    > Cancel </button>
<!-- 
    <button
        *ngIf="wantToEdit"
        mat-flat-button
        type="button"
        (click)="delButton()"
        [routerLink]="['/place', place.id, 'del']"
    > Delete Place</button> -->

     <button 
        mat-flat-button
        color="primary"      
        type="submit"  
        [disabled]="placeForm.invalid"
    > Save </button>




    <!-- <button mat-flat-button>
        <mat-icon style="color: red">clear</mat-icon>
    </button>

     <button mat-flat-button>
        <mat-icon style="color: green">checked</mat-icon>
    </button> -->

</form>
    

{{placeForm.value | json}}
{{openingForm.value | json}}