<mat-button-toggle-group
    [value]="selectedBloodType"
    (change)="onFilterChange($event)"
>
<mat-button-toggle value="">
    All
</mat-button-toggle>
<mat-button-toggle value="A_POZ">
    A_POZ
</mat-button-toggle>

<mat-button-toggle value="A_NEG">
    A_NEG
</mat-button-toggle>

<mat-button-toggle value="B_POZ">
    B_POZ
</mat-button-toggle>

<mat-button-toggle value="B_NEG">
    B_NEG
</mat-button-toggle>

<mat-button-toggle value="ZERO_POZ">
    ZERO_POZ
</mat-button-toggle>

<mat-button-toggle value="ZERO_NEG">
    ZERO_NEG
</mat-button-toggle>

<mat-button-toggle value="AB_POZ">
    AB_POZ
</mat-button-toggle>

<mat-button-toggle value="AB_NEG">
    AB_NEG
</mat-button-toggle>
</mat-button-toggle-group>
<!-- {{ selectedBloodType}} -->